In [3]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

In [7]:
# Education
edu = pd.read_csv("../data/un_data/Education.csv")
edu = edu[edu["Country/Region Name"] != "Total, all countries or areas"]
edu.head()

,Region/Country/Area,Country/Region Name,Year,Series,Value
36,15,Northern Africa,2005,Students enrolled in primary education (thousa...,"23,023"
37,15,Northern Africa,2005,Gross enrollment ratio - Primary (male),95.7
38,15,Northern Africa,2005,Gross enrollment ratio - Primary (female),89.3
39,15,Northern Africa,2005,Students enrolled in lower secondary education...,"10,029"
40,15,Northern Africa,2005,Gross enrollment ratio - Lower secondary level...,86.8

In [10]:
edu_pivot = edu.pivot_table(index = "Country/Region Name", columns = "Series", values = "Value", aggfunc = "first")
edu_pivot.head()

Series,Gross enrollment ratio - Lower secondary level (female),Gross enrollment ratio - Lower secondary level (male),Gross enrollment ratio - Primary (female),Gross enrollment ratio - Primary (male),Gross enrollment ratio - Upper secondary level (female),Gross enrollment ratio - Upper secondary level (male),Students enrolled in lower secondary education (thousands),Students enrolled in primary education (thousands),Students enrolled in upper secondary education (thousands)
Country/Region Name,,,,,,,,,
Afghanistan,13.4,39.5,73.2,126.1,5.4,20,461,"4,319",190
Albania,101,105.4,109.6,112.9,59.2,65.6,251,238,156
Algeria,109.4,113.9,108.5,115.7,64.4,43.2,"2,438","4,362","1,216"
Andorra,99.9,93.2,83.6,84.9,72.5,59,3,4,1
Angola,18.2,21,100.1,123.7,8.2,11,349,"4,273",113

In [ ]:
# Gender Equality (Gov or Both)
# Labor and Unemployment
# Crime
# Water and Sanitation
# GDP
# Population